@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&family=Rufina:wght@700&display=swap');



nav{
background-color: #F5F3F1;
}
nav .logo{
letter-spacing: 6px;
font-family: raleway;
font-weight: 500;
font-size: 22px;
line-height: 22px;
align-items: center;
}
nav ul{
font-family: rufina;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 1px;
align-items: center;
}

body{
background-color: #F5F3F1;
}
.general{
width: 720px;
margin: auto;
}
.terms{

}
.terms h6{
font-family: raleway;
font-weight: 600;
font-size: 18px;
line-height: 24px;
}
.terms h1{
font-family: rufina;
font-weight: 700;
font-size: 60px;
line-height: 72px;
}
.general-info h4{
font-family: rufina;
font-size: 28px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1px;

}
.general-info p{
font-family: raleway;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.white-background{
background-color: #FFFFFF;
border-radius: 4px 4px 60px 4px;
height: 224px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.white-background h3{
font-size: 36px;
font-weight: 700;
font-family: rufina;
line-height: 44px;

}
.white-background p{
font-family: raleway;
font-size: 16px;
font-weight: 500;
line-height: 24px;

}
.white-background button{
background-color: #5B656E;
font-family: Raleway;
font-size: 18px;
width: 160px;
color: #FFFFFF;
border: none;

}
footer{
background-color: #DFE3E7;
font-family: raleway;
height: 460px;
display: flex;
margin-top: 100px;
align-items: center;
}
footer .left h6{
font-weight: 700;
font-size: 20px;
letter-spacing: 2px;

}
footer p{
font-weight: 400;
font-size: 18px;
}
footer .icon{
gap: 20px;
}
footer ul li{
list-style-type: none;

}
footer ul li a{
text-decoration: none;
color: black;
font-size: 14px;
}
footer .right h6{
font-weight: 900;
font-size: 18px;
}
footer .right p{
font-size: 16px;
font-weight: 600;
}
.copy{
font-size: 12px;
font-weight: 400;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
body {
  font-size: 18px;
}



}
@media only screen and (max-width: 600px) {
body {
  font-size: 15px;
}

nav{
  background-color: #F5F3F1;
}

.general{
  width: 335px;
  margin: auto;

}
.white-background{
  margin: 0;
  padding: 50px;
  text-align: center;
  height: 280px;
  position: relative;
  top: 140px;
  z-index: 100;

  
}
footer{
  margin: 0;
  height: 650px;
  position: absolute;
  align-items: end;
}
footer ul{
  
 
}
.footer-nav{
  margin-top: 40px;
}
}